/* These are CSS resets, they overwrite browsers' default styling */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  /* background: #333; */
  overflow: hidden;
}

ul{
  list-style: none;
}

/* .dateTimeWrapper {
  height: 201px;
}

.nts {
  color: #37bc9b;
}

.center {
  height: 100%;
  margin-top: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  font-size: 2.5em;
  color: rgb(138, 56, 56);
}

.center{
  flex-align: center;
  flex-pack: center;
}
 */

/* My mojo */

/* top section */

.dateTimeWrapper{
  padding: 20px 10px;
  background: #333;
  border-bottom: 15px solid rgb(225, 0, 255);
  color: white;
}

.dateAndTime{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  border: 1px solid red;
}

.currentDateWrapper{
  width: 20%;
  min-width: 180px;
  margin-left: 10%;
}

@media screen and (max-width: 530px){
  .dateAndTime{
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .currentDateWrapper{
    margin-left: 0;
  }
}

.currentDay, .currentTime{
  margin-top: 20px;
}

.currentYear, .currentMonth, .currentDay{
  color: #37bc9b;
}

.currentYear, .currentMonth{
  display: inline-block;
  font-size: 22px;
}

.currentYear, .currentDay{
  text-shadow: 0 0 0 #37bc9b;
}

.currentYear{
  margin-left: 10px;
}

.currentMonth{
  text-shadow: 0 0 0 #00a82a;
}

.currentDay{
  font-size: 32px;
}

.dateCurrent {
  color: #37bc9b !important;
  text-shadow: 0 0 0 #37bc9b;
}

.currentTime{
  font-size: 60px;
  color: rgb(172, 240, 240);
}

.meaning{
  margin-left: 5px;
}

/* bottom section */

.dateHolder{
  width: 100%;
  max-width: 1080px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid red;
}

.dateHolder li{
  margin-top: 10px;
  flex: 100px;
  text-align: center;
}

.day, .date{
  color: whitesmoke;
}

.date{
  font-size: 28px;
}



#defaultCanvas0 {
  background-color: rgb(65, 134, 134);
}

